page-login {

    h3{
        text-align: center;
        color: gray;
    }

    img{
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }
}
