page-home {
    .first {
        align-items: center;
      }
      h3{
        color: gray;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
      }
}
